

<!DOCTYPE html>
<html>
    <head>
    </head>

    <body style="text-align:center">
        <h2>
            Add a Student
        </h2>
        <form action="" method="post">

        <table border="1">
            <tr>
                <td>Enter User Id</td>
                <td><input type="text" name="UserId" value="" /></td>
            <tr>

            <tr>
                <td>Enter User Name</td>
                <td><input type="text" name="UserName" value="" /></td>
            </tr>

            <tr>
                <td>Enter Password</td>
                <td><input type="text" name="Password" value="" /></td>
            </tr>

        <tr>
            <td>Select Department</td>
                <td>
                    <select name="Department">
                <option>Mech</option>
                <option>CSE</option>
                <option>Civil</option>
                <option>EEE</option>
                <option>ECE</option>
            </select></td>
        <tr>
            <td>Select Designation</td>
            <td>
                    <select name="Designation">
                    <option>Student</option>
                    <option>Hod</option>
                    <option>Admin</option>
                </select>
            </td>
        </tr>

        <tr>
            <input type="submit" name="" value="Submit" />
        </tr>

    </table>

    </form>

    </body>

</html>












