
<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <div>
        <a href="Admin/AddStudDetails">Add Student Details</a>
    </div>
    <br />

    <div>
        <a href="Admin/DeleteStudDetails">Delete Student Details</a>
    </div>
    <br />

    <div>
        <a href="Admin/AllComplaints">Display AllComplaints</a>
    </div>
    <br />

    <div>
        <a href="Admin/PendingComplaintsSolve">Solve a Complaint</a>
    </div>
    <br />

    <div>
        <a href="Admin/SolvedComplaints">Display Solved Complaints</a>
    </div>
    <br />

    <div>
        <a href="Home/Index">Logout</a>
    </div>

</body>
</html>






















