<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1 style="font-style:italic;text-align:center"><b>CollegeGrievanceCell</b></h1><br />
        @RenderBody()
    </div>
</body>
</html>
