
<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <div>
        <a href="Hod/AllComplaints">View All Complaints</a>
    </div>
    <br />
    <div>
        <a href="Hod/PendingComplaintsSolve">Solve a Complaint</a>
    </div>
    <br />
    <div>
        <a href="Home/index">Logout</a>
    </div>
</body>
</html>






