
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="" method="post">
        <div>
        <h2>Complaint By Id</h2>
        </div>

        <div>
        <input type="text" name="Cid" value="" />
        </div>

        <div>
        <input type="submit" name="" value="CheckStatus" />
        </div>
    </form>
    <div style="color:red">
        @TempData["msgid"]
    </div>
    </body>
    

</html>











