
<!DOCTYPE html>
<html>
    <head>
        
    </head>

    <body style="text-align:center">
        
        <form action="" method="post">
            <h2>Yoc can share your Complaints here!!!</h2>
            <table>
                <tr>
                    <td>Type Of Complaints</td>
                <td>
                    <select name="ComplaintType" value="">
                        <option>DeptartmentWise</option>
                        <option>GeneralComplaint</option>
                    </select></td>
                </tr>
            <tr>
                <td>Complaint Box</td>
                <td><input style="width:300px;height:100px" type="text" name="Description" value="" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="" value="Submit" />
                </td>
            </tr>
            </table>
        </form>

    <br />

        <div style="color:red">
        @ViewBag.msg
        </div>



    </body>
</html>











