
<!DOCTYPE html>
<html>
<head>

</head>

<body>

    <div>
        <a href="Student/ComplaintForm">Log a Complaint</a>
    </div><br />

    <div>
        <a href="Student/CompDetailsById">View Complaint status by Complaint ID</a>
    </div><br />
    
    <div>
        <a href="Student/PendingComplaints">View Pending Complaints</a>
    </div><br />
    
    <div>
        <a href="Student/SolveComplaints">View Solved Complaints</a>
    </div> <br />
   
    <div>
        <a href="Home/Index">Logout</a>
    </div><br />
    

</body>
</html>







